version: "3"

services:
    web:
        container_name: icantina
        restart: always
        build: .
        ports:
            - "5100:5100"
        links:
            - mongo
        volumes:
            -  /opt/iCantina/product_img/uploads:/usr/src/app/dist/uploads

    mongo:
        container_name: databaseicantina
        image: mongo
        ports:
            - "27017:27017"
#        environment:
#            MONGO_INITDB_DATABASE: testiCantina
        logging:
            driver: none
        volumes:
            - /opt/iCantina/mongo:/data/db

